<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-qr" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-icon name="person" color="tertiary" slot="end" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-text class="ion-text-center">
        <h1>QR en linea</h1>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col class="d-flex-center"><qr-code [value]="qr_text" 
            size="250" 
            errorCorrectionLevel="M" /></ion-col>
        </ion-row>
      </ion-grid>
      <div>
        {{qr_text}}
      </div>
  </ion-content>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button id="btnAlerta_2" fill="solid">
            Cancelar asistencia
          </ion-button>
          <ion-alert
          trigger="btnAlerta_2"
          header="Advertencia"
          subHeader="Nuevo en Ionic"
          message="Esta seguro de querer CANCELAR la asistencia?"
          [buttons]="alertButtons_2"
          backdropDismiss="false"
          >
        </ion-alert>
        </ion-col>
        <ion-col>     
          <ion-button id="btnAlerta_1"  fill="solid">
            Terminar asistencia
          </ion-button>
          <ion-alert
          trigger="btnAlerta_1"
          header="Advertencia"
          subHeader="Nuevo en Ionic"
          message="Esta seguro de TERMINAR de pasar asistencia?"
          [buttons]="alertButtons_1"
          backdropDismiss="false"
          >
        </ion-alert></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
