#qr_image{
    padding: 20 px 0;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-wrapper{
    width: 230px;
    min-height: 230px;
    background: var(--ion-color-tertiary);
    border-radius: 20px;
}