<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia por Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Resumen de Asistencia</h1>
  </ion-text>

  <ion-list lines="full" inset="true">
    <ion-item *ngFor="let item of asistenciaArray">
      <ion-label>
        <h2>{{ item.ramo }}</h2>
        <p>Asistencia: {{ item.porcentaje | number:'1.0-2' }}%</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
