<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia por Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Resumen de Asistencia</h1>
  </ion-text>

  <ion-list lines="full" inset="true">
    <ion-item *ngFor="let asistencia of asistenciaArray" class="asistencia-item">
      <div class="ramo">{{ asistencia.ramo }}</div>
  <div class="asistencias">{{ asistencia.totalAsistencias }} / {{ asistencia.totalClases }}</div>
    </ion-item>
  </ion-list>
</ion-content>
