<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Correo electrónico <p class="color=primary">*OBLIGATORIO</p></ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña <p class="color=primary">*OBLIGATORIO</p></ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre <p class="color=primary">*OBLIGATORIO</p> </ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="segnom" name="segnom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Primer Apellido <p class="color=primary">*OBLIGATORIO</p></ion-label>
      <ion-input type="text" [(ngModel)]="apellPat" name="apellPat" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellMat" name="apellMat" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Personal</ion-label>
      <ion-input type="email" [(ngModel)]="emailAlt" name="emailAlt"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>
