<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Elegir Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Menú por Asignaturas</h1>
  </ion-text>
  <ion-list lines="full" inset="true">
    <ion-list-header mode="ios" color="primary">
      <ion-label color="light">Asignaturas</ion-label>
    </ion-list-header>
    <ion-item detail="true" routerLink="{{ item.ruta }}" *ngFor="let item of vinculos">
      <ion-label class="i-text-capitalize">{{ item.titulo }}</ion-label>
      <ion-icon name="{{ item.icono }}" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
