<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Correo Electrónico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle class="subtitle">Ingrese el correo para recuperación</ion-card-subtitle>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item> 
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-button expand="full" (click)="sendResetLink()">Enviar</ion-button>
</ion-card>

</ion-content>
