<app-encabezado titulo="Ver asistencia"></app-encabezado>

<ion-content>
    <ion-text color="primary" class="ion-text-center">
     <h1>Asistencias</h1>
    </ion-text>
    <ion-list  lines="full" inset="true">
     <ion-list-header mode="ios" color="primary">
       <ion-label color="light">Menú por Asignaturas</ion-label>
     </ion-list-header>
  
     <ion-item *ngFor="let vinculo of vinculos" (click)="goToAsignatura(vinculo.ruta, vinculo.titulo)">
      <ion-label>{{ vinculo.titulo }}</ion-label>
    </ion-item>
