<app-encabezado titulo="Ingresar asignarura"></app-encabezado>
<ion-content>
<p></p>
    <ion-list>
        <ion-label position="stacked">Ingrese la asignatura</ion-label>
        <ion-input
          [(ngModel)]="asignatura"
          (ngModelChange)="validarAsignatura()"
          [clearInput]="true"
          placeholder="Nombre_ejemplo"
          [maxlength]="20"
        ></ion-input>
      <ion-note *ngIf="!asignaturaValida" color="danger">
        La asignatura debe tener entre 3 y 20 letras.
      </ion-note>
    </ion-list>

      <ion-list>
        <ion-item>
            <ion-label>Ingrese código</ion-label>
            <ion-input
              [(ngModel)]="codigo"
              (ngModelChange)="validarCodigo()"
              placeholder="00000"
              [clearInput]="true"
            ></ion-input>
          </ion-item>
          <ion-note *ngIf="!codigoValido" color="danger">El código debe tener exactamente 5 dígitos.</ion-note>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button id="btnAlerta" expand="block" fill="solid">
                Guardar Asignatura
              </ion-button>
              <ion-alert
              trigger="btnAlerta"
              header="Advertencia"
              subHeader="Nuevo en Ionic"
              message="Esta seguro de TERMINAR de pasar asistencia?"
              [buttons]="alertButtons"
              backdropDismiss="false"
              >
            </ion-alert>
          </ion-col>
          <ion-col>
            <ion-button id="btnAlerta_2" expand="block" fill="solid">
                Cancelar ingreso de asignatura
              </ion-button>
              <ion-alert
              trigger="btnAlerta_2"
              header="Advertencia"
              subHeader="Nuevo en Ionic"
              message="Esta seguro de querer CANCELAR la asistencia?"
              [buttons]="alertButtons_2"
              backdropDismiss="false"
              >
            </ion-alert>
          </ion-col>
        </ion-row>
      </ion-grid>


</ion-content>
