<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-estudiante" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-icon name="person" color="tertiary" slot="end" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Registre el QR</ion-card-title>
        <ion-card-subtitle>aqui va el id de la persona creo</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item *ngFor="let barcode of barcodes">
          <ion-label position="stacked">{{ barcode.format }}</ion-label>
          <ion-input type="text" [value]="barcode.rawValue"></ion-input>
        </ion-item>
  
        <ion-text color="primary">
          <h1>Escanea el qr con el boton que esta abajo </h1>
          <h1>👇👇👇👇👇</h1>
        </ion-text>
  
        <!-- Botón debajo del texto -->
        <ion-button  (click)="scan()" [disabled]="!isSupported">
          <ion-icon slot="start" name="scan"></ion-icon>
          Escanear QR
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
