.fab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  ion-fab-button {
    --width: 120px;
    --height: 120px;
    --border-radius: 50%;
    font-size: 48px;
  }