<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-estudiante" text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-icon name="person" color="tertiary" slot="end" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>Registre el QR</h1>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="11"><ion-img
        src="https://img.freepik.com/vector-premium/pantalla-camara-telefono-movil_97886-3330.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>